h1 {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: #42d3ff;
}

input[type="submit"] {
  background-color: #3c22cf;
}

input[type="reset"] {
  background-color: #F74F4F;
}